<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>
<!--        <context-param>-->
<!--            <param-name>GOOGLE_CLIENT_ID</param-name>-->
<!--            <param-value>241816518270-idhns4llm07108i4n7r1amn8jm5f6llc.apps.googleusercontent.com</param-value>-->
<!--        </context-param>-->

<!--        <context-param>-->
<!--            <param-name>GOOGLE_CLIENT_SECRET</param-name>-->
<!--            <param-value>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</param-value>-->
<!--        </context-param>-->

<!--        <context-param>-->
<!--            <param-name>GOOGLE_REDIRECT_URI</param-name>-->
<!--            <param-value>http://localhost:8080/BE_war/login-google</param-value>-->
<!--        </context-param>-->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
</web-app>
