body {
    font-family: Arial, sans-serif;
    background-color: #f9fbff;
    margin: 0;
    display: flex;
    justify-content: center; /* canh giữa ngang */
    align-items: center; /* canh giữa dọc */
    min-height: 100vh;
    flex-direction: column;
}

iframe {
    width: 100%;
    border: none;
    display: block;
}

/* Header iframe */
#header-frame {
    height: 118px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    display: block;
}

/* Footer iframe */
#footer-frame {
    height: 390px;
}
nav {
    width: 95%;
    padding: 1.5rem 4rem;
    background: white;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.9rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    position: sticky;
}

nav a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #007bff;
}
.contact-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 380px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}

form {
    width: 100%;
    max-width: 320px;
}

h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #1e1e2d;
}

label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    color: #333;
}

input, textarea {
    width: 90%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f5f7fa;
    font-size: 14px;
    outline: none;
}

input:focus, textarea:focus {
    border-color: #0d6efd;
    background-color: #fff;
}

textarea {
    resize: none;
    height: 90px;
}

.required {
    color: red;
}

button {
    width: 100%;
    background-color: #16a34a;
    color: white;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 550;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #15803d;
}